* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  --bg-primary: #fff;
  --bg-secondary: #f0f2f5;
  --divider: #ced0d4;
  --dark-blue-primary: #152c4f;
  --blue-color: #3d5890;
  --blue-gradient: #dde6ef;
  --blue-gradient-2: #ebf0f6;
  --light-blue-color: #e7f3ff;
  --border-color: #ccced2;
  --grey-color: #828282;
  --grey-color-2: #9f9f9f;
  --grey-color-3: rgba(0, 0, 0, 0.6);
  --grey-color-4: #5d6169;
  --shadow-1: rgba(0, 0, 0, 0.2);
  --shadow-2: rgba(0, 0, 0, 0.1);
  --shadow-3: rgba(0, 0, 0, 0.3);
  --shadow-inset: rgba(255, 255, 255, 0.5);
}

/*----Buttons----*/
.blue_btn {
  border: 1px solid var(--blue-color);
  outline: none;
  background: var(--blue-color);
  padding: 8.5px 12px;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  min-width: 150px;
  color: #fff;
  box-shadow:0 5px 12px var(--shadow-1);
  padding: 10px 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  cursor: pointer;
}

.blue_btn:hover {
  background-color: var(--dark-blue-primary);
  border: 1px solid var(--dark-blue-primary);
}

.white_btn {
  border: 1px solid var(--blue-color);
  outline: none;
  background: var(--bg-primary);
  padding: 8.5px 12px;
  border-radius: 7px;
  font-family: inherit;
  font-weight: 600;
  min-width: 150px;
  font-size: 14px;
  color: var(--blue-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  cursor: pointer;
}

.white_btn:hover {
  background: var(--dark-blue-primary);
  border: 1px solid var(--dark-blue-primary);
  color: var(--bg-primary);

}

/*----Buttons----*/
.blur {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.768);
  bottom: 0;
  z-index: 99;
}

/*----Buttons----*/

/*-----Hovers-----*/
.hover:hover {
  background: var(--bg-secondary);
}

/*-----Hovers-----*/

/*----Scrollbar----*/

.scrollbar::-webkit-scrollbar {
  width: 8px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #aeaeafa1;
  border-radius: 5px;
}

/*----Scrollbar----*/

/*---Circles------*/

/*---Circles------*/